app/data_backend
/venv/
/tests/venv/
__pycache__/
.env
.dockerenv

*.py[cod]
*$py.class

__pycache
.vscode/
.DS_Store
.vscode/*
.idea/

# log files
*.log

# local job folder(s)
jobs/

# local data folder(s)
data/

# mac stuff
.DS_Store

# For local development reasons
data/

# Local testing databases
*.db