# require flask only, and use default dependencies that come from
flask==2.2.2

wtforms==3.0.1
flask-wtf==1.0.1
itsdangerous==2.1.2
joblib==1.1.0
markupsafe==2.1.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-slugify==6.1.2
pytz==2022.2.1
requests==2.27.1
email_validator==1.1.3
pandas
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0
Flask-Login==0.6.2
Flask-Dance
blinker
# store session in db to allow for large genesets
Flask-Session2==1.3.1
# email for cloud deployment
sendgrid==6.9.2
# db for cloud deployment
psycopg2
