itsdangerous==2.0.1
Flask==1.1.2
Flask-WTF==0.14.3
Werkzeug==1.0.1
WTForms==2.3.3

python-dateutil~=2.8.1
python-dotenv~=0.15
pytz==2020.4
numpy~=1.19.4
# scipy~=1.5.3
scikit-learn
pandas~=1.1.4
python-slugify~=4.0
requests~=2.25
jinja2<3.1.0

sendgrid==6.9.2
email_validator==1.1.3

