itsdangerous==2.0.1
Flask==1.1.2
Flask-WTF==0.14.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
Werkzeug==1.0.1
WTForms==2.3.3
numpy==1.19.4
scipy==1.5.3
scikit-learn==0.23.2
pandas=1.1.4
python-slugify==4.0.1
requests===2.25.0
sendgrid==6.9.2
email_validator==1.1.3

