{% extends "notification_base.html" %}

{% block message_content %}

<p>Your job {{job_config['jobname']}} is complete:</p>

<ul>
    <li>Results link: <a href="{{job_config['job_url']}}">{{job_config['job_url']}}</a></li>
    <li>Job name/id: <strong>{{job_config['jobname']}}</strong> </li>
    <li>Network:<strong> {{job_config['net_type']}}</strong></li>
    <li>Features: <strong>{{job_config['features']}}</strong></li>
    <li>Negative Selection: <strong>{{job_config['GSC']}}</strong></li>
</ul>
{% endblock %}