<p>Dear GenePlexus User,<p>

    <p>Thank you for submitting a job on the GenePlexus web server! </p>
    
    {% block message_content %}
    {% endblock %}
    
    <p>Please do not respond to this email. For any questions please see the 
        Help or Contact pages on the GenePlexus web server. 
        
    </p>
    
<p>Regards,</br>
The GenePlexus Team<br>
<a href="https://www.geneplexs.net">https://www.geneplexus.net </a></p>


<p><small><i>this email sent via sendgrid.com for enhanced delivery and security</i></small></p>