{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block app_content %}

<!-- <div class="sidenav">
</div> -->
<div class="container">
    <div id="content-padding" class="pl-4 pt-4">
        <h3 >Contact</h3>
   
        <p>If you have problems or issues using this web site, you can send an email to help[at]geneplexus.net </p>

        <p>The GenePlexus research project is led by <a href="https://www.thekrishnanlab.org/team">Dr. Arjun Krishnan, Michigan State University</a>.   </p>

    </div>
</div>
{% endblock %}
