{% if cookies_check() %}
{% else %}
    <div class="fixed-bottom p-4 cookie_popup" id="cookie-consent-container">
        <div class="bg-dark text-white w-100 mw-100" role="alert">
            <div class="toast-body p-4 d-flex flex-column">
                <h4>Cookie Warning</h4>
                <p>
                This website uses cookies to allow a loaded geneset to persist as the website is navigated as well
                as recall jobs that have been submitted. We do not use cookies for marketing, advertisement or tracking. 
                By using our site you agree to use cookies only for the outlined purposes.  &nbsp;
                <a href="{{ url_for('about', _anchor='privacypolicy') }}">Privacy policy</a>
                </p>
                <div class="ml-auto">
                <button type="button" class="btn btn-light" id="btnAccept">
                    Okay
                </button>
                </div>
            </div>
        </div>
    </div>
    <script>
    var fn = function () {
        document.cookie = "cookie_consent=true";
        document.getElementById('cookie-consent-container').hidden = true;
    };
    console.log('It cannot')
    document.getElementById('btnAccept').onclick = fn;
    </script>
{% endif %}