{% extends "base-sidenav.html" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block app_content %}

<div class="row">
    <form action="{{ url_for('edit_profile') }}" method="POST">
        <div class="mb-3 row">
            <label for="username" class="form-label">Email address</label>
            <input type="text" class="form-control col-6" id="username" name="username" value="{{ current_user.username }}" readonly>
        </div>
        <div class="mb-3 row">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control col-6" id="email" name="email" {% if current_user.email %}value="{{ current_user.email }}"{% endif %}>
        </div>
        <div class="mb-3 row">
            <label for="fullname" class="form-label">Name</label>
            <input type="text" class="form-control col-6" name="fullname" id="fullname" {% if current_user.name %}value="{{ current_user.name }}"{% endif %}>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary col-3">Update Profile</button>
        </div>
    </form>
</div>

{% block scripts %}
{% endblock %}

{% endblock %}