<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e6f3faaa40.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <title>GenePlexus</title>
</head>
    <body>
       <header>
          <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Krishnan Lab GenePlexus</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="navbar-item active">
                        <a class="nav-link"  href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Jobs </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">job #1</a></li>
                                <li><a class="dropdown-item" href="#">job #2</a></li>
                            </ul>
                    </li>
                </ul>
            </div>
          </div>
        </header>
       <div class="sidenav">
            <form id="model-form" action="{{ url_for('validate') }}" method="POST", enctype="multipart/form-data">
                <div class="item-content">
                   <span>
                       <br>
                       <fieldset class="border box_padding fieldset">
                           <label>
                               1. Upload File of Genes
                           </label>&nbsp;<a href="#" data-toggle="popover" data-trigger="hover" data-placement="right"
                                  data-content="Upload a file of Gene Ids.  File must delimited by
                                  a newline (i.e. each gene is on a separate line"><i class="fas fa-question-circle"></i></a>
                           <div>
                                <span id='button' class="btn btn-sm">Select File</span>
                                <span id="val"></span>
                                <div class="box_padding">
                                    <input class=" btn btn-sm"
                                           type="file"
                                           title=" "
                                           name="input_genes"
                                           accept="txt/csv"
                                           />
                                </div>
                           </div>
                           <label>Or</label>
                           <div class="box_padding">
                                <div class="form-group">
                                  <label for="enterGenes">Enter / Paste Genes</label>
                                  <textarea class="form-control rounded-0" id="enterGenes" rows="5"></textarea>
                                </div>
                           </div>
                           <br>
                           <label>
                               2. Validate gene file
                           </label>&nbsp;<a href="#" data-toggle="popover" data-trigger="hover" data-placement="right"
                                  data-content="Before the model can be run, validate the gene file against all network
                                   to ensure enough data for meaningful results"><i class="fas fa-question-circle"></i></a>
                            <div class="col text-center">
                                <input type="submit" disabled name="submit_button" class="btn btn-sm border dark" value="Validate File">
                            </div>
                           <br>
                           <label>
                               3. Review Results
                           </label>&nbsp;<a href="#" data-toggle="popover" data-trigger="hover" data-placement="right"
                                  data-content="Review the validation results"><i class="fas fa-question-circle"></i></a>
                       </fieldset>
                   </span>
                </div>
            </form>
       </div>
        <div class="container">
            <div class="border border-dark">
                <div class="box_padding">
                    <h2>Welcome to GenePlexus</h2>
                </div>
            </div>

            <div class="fill_container">
                <div id="divLoading">
                    <div id="loading" class="fa-5x"><i class="fas fa-spinner fa-spin"></i></div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>