{% macro df_table(df, table_id='') -%}
    <!-- begin table for {{table_id}}-->
    {{df.head(500).to_html(index=False, classes='datatables table table-striped table-bordered, width: 100%;', table_id = table_id)   |safe }}
    
        <!-- end {{table_id}}-->
{%- endmacro %}

{% extends "base-fullwidth.html" %}

{% block title %}{% if jobexists %}Job: {{ jobname }}{% else %}Job {{ jobname }} does not exist{% endif %}{% endblock %}

{% block head %}
    {# stylesheets manually put in results_base, confirm if we need thse or not? #}
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css"> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='results.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='graph.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='d3-tip.css') }}">

    <!-- disabling the sidebar the results.html from jobs looks best at 100&% of screen (currently), the sidebar takes up significant blank space  -->
    <style>
        .sidenav {
            display:none !important
        }
    </style> 

    <style>
        .modal {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 ) 
                        url('http://i.stack.imgur.com/FhHRx.gif') 
                        50% 50% 
                        no-repeat;
        }

        /* When the body has the loading class, we turn
        the scrollbar off with overflow:hidden */
        body.loading .modal {
            overflow: hidden;   
        }

        /* Anytime the body has the loading class, our
        modal element will be visible */
        body.loading .modal {
            display: block;
        }
    </style>
{% endblock %}


{% block app_content %}
<div class="result_container">

{% if jobexists %} {# this is probably not necessary since view method redirects to 404 if no job found #}
{% if job_info['has_results'] == true and 'jobname' in job_output %}
    <h4 class="col-12">
        <div class="row">
            <span class="col-9">
                Prediction results
            </span>
            <!-- add large button on same row as header -->
            <div class="col-3 float-right">
                <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['jobname']}}.zip"
                    class="btn btn-success">
                    Download all results as zip file
                </a>
                <!-- <a href="#" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
                data-bs-content="Download all the tables, edge list, and this result 
                file contained in a single zip file named for the job name">
                <i class="fas fa-question-circle"></i></a> -->
            </div>
        </div>
    </h4>

   <div class="border border-dark">
        <div class="box_padding">
            <div class="row">
                <div class="col text-left">
                    <label><b>Job Name:</b>&nbsp</label>{{( job_output['jobname'] )}}<br>
                </div>
                <div class="col text-left">
                    <label><b>Network:</b>&nbsp</label>{{ job_output['net_type'] }}<br>
                </div>
                <div class="col text-left">
                    <label><b>Features:</b>&nbsp</label>{{job_output['features']}}<br>
                </div>
                <div class="col text-left">
                    <label><b>Negative Class:</b>&nbsp</label>{{job_output['GSC']}}<br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12">  
                    {# checking that the value is a list here to accommodate previous jobs that output a single string (median) #}                  
                    {% if job_output['avgps'] is not string %} 
                    
                        <label>Results for {{ job_output['avgps']|length}}-fold cross validation in terms of <em>log2(auPRC/prior)</em>:&nbsp;
                        <strong>{{ job_output['avgps']|join(", ") }}.</strong>
                        </label>
                        <a href="#" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right"
                            data-bs-content="If the number of genes in the positive class is greater than 15,
                            these metrics report the fold change of the area under the precision-recall curve
                            (auPRC) over the prior auPRC expected by random chance. For example, a value of 1
                            indicates that the model performs twice as good as a random ranking of genes.">
                            <i class="fas fa-question-circle"></i>
                        </a>
                    {% else %}
                        {# for jobs output that have just a single string #}
                        <label>The median value of the log2(auPRC/prior)
                            for 5-fold cross validation is &nbsp</label>{{ job_output['avgps'] }}.
                        </label>&nbsp
                        <a href="#" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right"
                            data-bs-content="If the number of genes in the positive class is greater than 20,
                            this metric reports the fold change of the area under the precision-recall curve
                            (auPRC) over the prior auPRC expected by random chance. For example, a value of 1
                            indicates that the model performs twice as good as a random ranking of genes.">
                            <i class="fas fa-question-circle"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <style> .nav-pills {
        border-bottom: 2px solid black;
        }
        a.nav-link.active {
           background-color: Black !important;
        }
        </style>

    <div role="tabpanel border-2">
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-fill border-2  border-bottom-2 text-white" role="tablist">
            <li class="nav-item">
                <a href="#predictions" class="nav-link  active" data-bs-toggle="tab">Gene Predictions</a>
            </li>
            <li class="nav-item">
                <a href="#sim_go" class="nav-link " data-bs-toggle="tab">Similarities to Biological Processes</a>
            </li>
            <li class="nav-item">
                <a href="#sim_dis" class="nav-link " data-bs-toggle="tab">Similarities to Diseases</a>
            </li>
            <li class="nav-item">
                <a id="nettab" href="#netgraph" class="nav-link" data-bs-toggle="tab">Network Graph</a>
            </li>
            <li class="nav-item">
                <a href="#validation" class="nav-link " data-bs-toggle="tab">Input Genes</a>
            </li>
        </ul>

          <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="predictions">
                <div class="table_container">
                    <div class="box_padding">
                        <p>The table below shows the top 500 genes with the highest prediction probability.
                            <ul>
                            <li>Probability: Indicates the gene</strong>s network-based similarity to the input genes.</li>
                            <li>Rank: Rank of the gene when sorted by prediction probability (up to several decimals).</li>
                            <li>Class-Labels: <strong>P</strong> – gene was considered in positive class during training, <strong>N</strong> – gene was considered in negative class during training, and <strong>U</strong> – gene was not considered at all during training.</li>
                            <li>Known/Novel: Indicates whether the gene was part of the input gene list (therefore <strong>Known</strong>) or not (therefore <strong>Novel</strong>).</li>
                            </ul>
                        <p>Use the buttons on the top-right of the table to download the top predictions. Download the prediction probability of all the genes in the network as a tab-separated file at this link. 
                            <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_probs_file']}}" class="btn btn-outline-success">Download All Predictions</a>
                        </p>

                    </div>
                    
                    {{job_output['df_probs'].reindex(columns=['Rank', 'Entrez', 'Symbol', 'Name', 'Probability', 'Known/Novel', 'Class-Label']).rename(columns={'Class-Label': 'Training-Label'}).head(500).to_html(index=False, classes='datatables table table-striped table-bordered', table_id = "probstable")   |safe }}
                </div>
            </div>

            <div class="tab-pane fade" id="sim_go">
                <div class="table_container">
                    <div class="box_padding">
                        <p>The table below shows network-based ML models trained on sets of genes associated with Gene Ontology Biological Process terms ranked by their similarity to the custom ML model trained on the input genes. See the Help page for more information.</p>

                        <p>Use the buttons on the top-right of the table to download the table of terms shown below. Download the similarity to all Biological Processes as a tab-separated file at this link.
                            <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_GO_file']}}" class="btn btn-outline-success">Download All Similarities</a>
                        </p>
                    </div>
                    {{job_output['df_GO'].head(500).reindex(columns=['Rank', 'ID', 'Name', 'Similarity']).to_html(index=False, classes='datatables table table-striped table-bordered, width: 100%;', table_id = "gotable")   |safe }}
                </div>
            </div>

            <div class="tab-pane fade" id="sim_dis">
                <div class="table_container">
                    <div class="box_padding">
                        <p>The table below shows network-based ML models trained on sets of genes associated with diseases in the DisGeNet database ranked by their similarity to the custom ML model trained on the input genes. See the Help page for more information.

                        <p>Use the buttons on the top-right of the table to download the table of terms shown below. Download the similarity to all Diseases as a tab-separated file at this link.
                            <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_dis_file']}}" class="btn  btn-outline-success">Download All Similarities</a>
                        </p>
                    </div>
                    {{job_output['df_dis'].head(500).reindex(columns=['Rank', 'ID', 'Name', 'Similarity']).to_html(index=False, classes='datatables table table-striped table-bordered', table_id = "distable")   |safe }}
                </div>
            </div>
            <div class="tab-pane fade" id="netgraph">
                <div class="row">
                    <div class="row">
                        <div class="box_padding m-3">
                            <p>The visualization below shows the network of the top 50 genes based on predicted probability.<br/>
                            <em>Directions:</em></p>
                            <ul>
                                <li>Click a node to display additional information about the gene on the left panel.</li>
                                <li>Drag a node to fix its position; double-click release. Use typical trackpad/mouse controls to pan/zoom the entire graph</li>
                                <li>Use the slider to select more or less genes (nodes) to show based on gene probability.</li>
                            </ul>
                                
                            <p> The graph can be exported as a PNG or SVG file and the entire list of edges as a tab-separated file.
                                <a id="download_as_png" class="btn btn-outline-success "  href="#">PNG</a>
                                <a id="download_as_svg" class="btn btn-outline-success "  href="#">SVG</a>
                                <a class="btn  btn-outline-success " " href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_edgelist_file']}}" >Edgelist</a>                               
                            </p>
                        </div>
                    </div>
                
                    <div id="graph_slider_area" class = "row">
                        <div id="node_prob_container" class="col-4 mb-1">
                            <div class="mb-4 row form-inline">
                                <label for="node_prob_label" class="col-form-label">Minimum gene probability</label>
                                <div id="node_prob_label"></div>
                            </div>
                            <div class="row content">
                                <label class="col-1 sliderLabel">0</label><div id="node_prob_slider" class="col-9 ms-3"></div><label class="col-1 sliderLabel">1</label>
                                <div id="node_prob_tooltip"></div>
                            </div>
                        </div>
                        <div id="node_count_container" class="col-4 mb-1">
                            <div class="mb-4 row form-inline">
                                <label for="node_count_label" class="col-form-label">Node count</label>
                                <div id="node_count_label"></div>
                            </div>
                            <div class="row content">
                                <label class="col-1 sliderLabel">0</label><div id="node_count_slider" class="col-9 ms-3"></div><label class="col-1 sliderLabel">50</label>
                                <div id="node_count_tooltip"></div>
                            </div>
                        </div>
                        <div id="edge_weight_container" class="col-4 mb-1">
                            <div class="mb-4 row form-inline">
                                <label for="edge_weight_label" class="col-form-label">Minimum edge weight</label>
                                <div id="edge_weight_label"></div>
                            </div>
                            <div class="row content">
                                <label class="col-1 sliderLabel">0</label><div id="edge_weight_slider" class="col-9 ms-3"></div><label class="col-1 sliderLabel">1</label>
                                <div id="edge_weight_tooltip"></div>
                            </div>
                        </div>

                    </div>
                    <div id="graph_container" class="row">
                        
                        <div id="info_area" class="mr-1 ml-1 col-3">  
                            <div class="row ml-2">
                              
                                <div class='my-legend '>
                                    <div class='legend-title'>Gene node colors and their meanings</div> 
                                        <div class='legend-scale'>
                                            <ul class='legend-labels'>
                                            <!-- var graph_node_colors = ["#648FFF","#97B4FF","#FFB000"]; -->
                                            <li><span class="legendcolor" id="Plegend" style='background:#648FFF;'></span>Positive</li>
                                            <li><span class="legendcolor" id="Ulegend" style='background:#FFBF32;'></span>Unlabeled</li>
                                            <li><span class="legendcolor" id="Nlegend" style='background:#FFB000;'></span>Negative</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            <div class="card">
                                <!-- Rank, Entrez, Symbol, Name, Probability, Known/Novel, Class-Label. -->
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="text-muted">Rank:&nbsp; </span>
                                        <span id="static_rank" class=" fw-bold graphinfo" ></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">Entrez ID:&nbsp; </span>
                                        <a href="" id="static_id" class=" fw-bold graphinfo" ></a>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">Symbol:&nbsp; </span>
                                        <span id="static_symbol" class=" fw-bold graphinfo" ></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">Name:&nbsp; </span>
                                        <span id="static_name" class=" fw-bold graphinfo" ></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">Probability:&nbsp;</span>
                                        <span id="static_prob" class=" fw-bold graphinfo" ></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">Known/Novel:&nbsp; </span>
                                        <span id="static_known" class=" fw-bold graphinfo" ></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">Class-label:&nbsp;</span>
                                        <span id="static_class"  class=" fw-bold graphinfo" ></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">Gene Type:&nbsp; </span>
                                        <span id="static_genetype" class=" fw-bold graphinfo" ></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">Swiss-Prot:&nbsp; </span>
                                        <span id="static_swissprot" class=" fw-bold graphinfo" ></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="graph_area" class="col-9">
                            <div id="graph" class="row">
                                <svg id="graph_svg"></svg>
                            </div>                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane fade" id="validation">
                <div class="table_container">
                    <div class="box_padding">
                        <p>The number of genes in the input file was {{ job_output.get('input_count') }}.
                        The number of those genes that were uniquely mapped to an Entrez ID
                                and were also in the network is {{ job_output.get('positive_genes')}}.
                            <br><br>
                            To download the current subset of the table use the Copy, Excel or PDF buttons on the top right of the table. At most the table will display the top 500 results. 
                            To download the validation data as a tab separated values file click the following button:
                            <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_convert_out_subset_file']}}" class="btn btn-outline-success">Download Validation Data</a>
                        </p>
                    </div>

                {{ df_table(df=job_output['df_convert_out_subset'], table_id="validateresults") }}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Loading</h5>
        </div>
        <div class="modal-body">
          <p>Loading data... please wait</p>
        </div>
      </div>
    </div>
</div>

{% else %}

        <div class="col-12">
            <div class="row">
                <div id="content-padding" class=" col-3 pl-4 pt-4">
                    <h4>Job incomplete</h4>
                    <p><em>Sorry, no results yet.</em> </p>
                    <ul class="list-group">
                        <li class="list-group-item bg-primary text-white"> Name: <strong>{{jobname}}</strong> </li>
                        <li class="list-group-item">submitted: <strong>{{job_info['submit_time']}}</strong></li>
                        {% if job_info['params'] %}
                        <li class="list-group-item"> Parameters: <strong>{{job_info['params']['GP_NET_TYPE']}}; {{job_info['params']['GP_FEATURES']}}; {{job_info['params']['GP_GSC']}}</strong></li>
                        {% endif %}
                        <li class="list-group-item">Job status: <strong>{{job_info['status']}}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
</div> <!-- redundant close div from above (so modal is not part of this snippet)-->
{% endif %} {# job was found and had results #}
{% else %}  {# invalid job name #}
      <!-- no job found -->
      
        <div class="col-12">
            <div class="row">
                <div id="content-padding" class="pl-4 pt-4">
                    <h4>No job found</h4>
                    <p>Sorry, but no GenePlexus job with that name exists on our server. ( {{ jobname }} )  </p>
                </div>
            </div>
        </div>
</div> <!-- redundant close div from above (so modal is not part of this snippet)-->
{% endif %}
   
{% endblock %}

{% block scripts %}
    {# this inserts the graph/network data directly into the page as javascript #}
    <script>
        // data for network visualization
        var dataset = {{ job_output['graph'] | safe }}
    </script>

    <script>
        $("body").addClass("loading");
    </script>

    <!-- jquery UI is used for graph data box -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="{{url_for('static', filename='d3-v4-contextmenu.js')}}"></script>
    <script src="{{url_for('static', filename='d3-tip.js')}}"></script>
    <script src="{{url_for('static', filename='graph.js')}}"></script>
    <script src="{{url_for('static', filename='results_datatable.js')}}"></script>
    <script src="{{url_for('static', filename='results_index.js')}}"></script>
    <script src="{{url_for('static', filename='results_validation.js')}}"></script>
    <script src="{{url_for('static', filename='saveSvgAsPng.js')}}"></script>
{% endblock %}
