{% macro df_table(df, table_id='') -%}
    <!-- begin table for {{table_id}}-->
    {{df.head(500).to_html(index=False, classes='datatables table table-striped table-bordered, width: 100%;', table_id = table_id)   |safe }}
    
        <!-- end {{table_id}}-->
{%- endmacro %}

{% extends "base-fullwidth.html" %}

{% block title %}{% if jobexists %}Job: {{ jobname }}{% else %}Job {{ jobname }} does not exist{% endif %}{% endblock %}

{% block head %}
    {# stylesheets manually put in results_base, confirm if we need thse or not? #}
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css"> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='results_main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='results.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='graph.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='d3-tip.css') }}">

    <!-- disabling the sidebar the results.html from jobs looks best at 100&% of screen (currently), the sidebar takes up significant blank space  -->
    <style>
        .sidenav {
            display:none !important
        }
    </style> 

    <style>
        .modal {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 ) 
                        url('http://i.stack.imgur.com/FhHRx.gif') 
                        50% 50% 
                        no-repeat;
        }

        /* When the body has the loading class, we turn
        the scrollbar off with overflow:hidden */
        body.loading .modal {
            overflow: hidden;   
        }

        /* Anytime the body has the loading class, our
        modal element will be visible */
        body.loading .modal {
            display: block;
        }
    </style>
{% endblock %}


{% block app_content %}
<div class="result_container">

{% if jobexists %} {# this is probably not necessary since view method redirects to 404 if no job found #}
{% if job_info['has_results'] == true and 'jobname' in job_output %}
    <h4 class="col-12">
        <div class="row">
            <span class="col-9">
        Prediction results
            </span>
            <!-- add large button on same row as header -->
            <div class="col-3 float-right">
                <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['jobname']}}.zip"
                    class="btn btn-success">
                    Download all results data as zip file
                </a>
                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="right"
                data-content="Download all the tables, edge list, and this result 
                file contained in a single zip file named for the job name">
                <i class="fas fa-question-circle"></i></a>
            </div>
        </div>
    </h4>

   <div class="border border-dark">
        <div class="box_padding">
            <div class="row">
                <div class="col text-left">
                    <label><b>Job Name:</b>&nbsp</label>{{( jobname )}}<br>
                </div>
                <div class="col text-left">
                    <label><b>Network:</b>&nbsp</label>{{ job_output['net_type'] }}<br>
                </div>
                <div class="col text-left">
                    <label><b>Features:</b>&nbsp</label>{{job_output['features']}}<br>
                </div>
                <div class="col text-left">
                    <label><b>Negative Class:</b>&nbsp</label>{{job_output['GSC']}}<br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <label>The median value of the log2(auPRC/prior)
                        for 5-fold cross validation is &nbsp</label>{{( job_output['avgps'] )}}.
                    </label>&nbsp
                    <a href="#" data-toggle="popover" data-trigger="hover" data-placement="right"
                          data-content="If the number of genes in the positive class is greater than 20,
                          this metric reports the fold change of the area under the precision-recall curve
                          (auPRC) over the prior auPRC expected by random chance. For example, a value of 1
                          indicates that the model performs twice as good as a random ranking of genes.">
                        <i class="fas fa-question-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a href="#predictions" class="nav-link text-dark active" data-toggle="tab">Gene Predictions</a>
            </li>
            <li class="nav-item">
                <a href="#sim_go" class="nav-link text-dark" data-toggle="tab">Similarities to Biological Processes</a>
            </li>
            <li class="nav-item">
                <a href="#sim_dis" class="nav-link text-dark" data-toggle="tab">Similarities to Disease</a>
            </li>
            <li class="nav-item">
                <a id="nettab" href="#netgraph" class="nav-link text-dark" data-toggle="tab">Network Graph</a>
            </li>
            <li class="nav-item">
                <a href="#validation" class="nav-link text-dark" data-toggle="tab">Validation Data</a>
            </li>
        </ul>

          <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="predictions">
                <div class="table_container">
                    <div class="box_padding">
                        <p>The table below shows the top 500 genes with the highest prediction probability. 
                            The <b>Probability</b> of each gene is bounded between 0 and 1, and indicates the gene’s functional similarity 
                            to the input genes in the selected network. The <b>Rank</b> column indicates the rank of the gene when sorted by 
                            the full probability value (up to several decimals). The <b>Class-Labels</b> are: P – gene was considered in 
                            positive class during training, N – gene was considered in negative class during training, 
                            and U – gene was not considered at all during training. <b>Known/Novel</b> indicates whether the gene was part of 
                            the input gene list (therefore ‘Known’) or not (therefore ‘Novel’).
                            <br><br>
                            To download the current subset of the table use the Copy, Excel or PDF buttons on the top right of the table. At most the table will display the top 500 results. 
                            To download the prediction probability of all the genes in the network as a tab separated values file click the following button:
                            <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_probs_file']}}" class="btn btn-sm btn-primary">Download All Predictions</a>                                    
                        </p>
                    </div>
                    {{ df_table(df=job_output['df_probs'], table_id="probstable") }}
                </div>
            </div>

            <div class="tab-pane fade" id="sim_go">
                <div class="table_container">
                    <div class="box_padding">
                        <p>The table below shows the similarity of machine learning models trained on sets of
                            genes associated with Gene Ontology Biological Process terms to the custom model
                            trained on the input genes. See the Help page for more information about
                            the similarity measure.
                            <br><br>
                            To download the current subset of the table use the Copy, Excel or PDF buttons on the top right of the table. At most the table will display the top 500 results. 
                            To download the similarity to all Biological Processes as a tab separated values file click the following button:
                            <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_GO_file']}}" class="btn btn-sm btn-primary">Download All Similarities</a>
                        </p>
                    </div>
                    {{ df_table(df=job_output['df_GO'], table_id="gotable") }}
                </div>
            </div>

            <div class="tab-pane fade" id="sim_dis">
                <div class="table_container">
                    <div class="box_padding">
                        <p>The table below shows the similarity of machine learning models trained on sets of
                            genes associated with diseases in the DisGeNET database to the custom model
                            trained on the input genes. See the Help page for more information about
                            the similarity measure.
                            <br><br>
                            To download the current subset of the table use the Copy, Excel or PDF buttons on the top right of the table. At most the table will display the top 500 results. 
                            To download the similarity to all Diseases as a tab separated values file click the following button:
                            <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_dis_file']}}" class="btn btn-sm btn-primary">Download All Similarities</a>
                        </p>
                    </div>
                    {{ df_table(df=job_output['df_dis'], table_id="distable") }}
                </div>
            </div>
            <div class="tab-pane fade" id="netgraph">
                <div>
                    <div class="row">
                        <div class="box_padding m-3">
                            <p>The graph below shows the network connectivity of the top 50 genes based on prediction probability. The edges used in the graph come 
                                from the adjacency matrix representation of the network used to train the machine learning model. 
                                Directions: <br>
                                <ul>
                                    <li>Clicking a node will display additional information about the gene on the right side</li>
                                    <li>Dragging a node will make it sticky (it will no longer move by itself). Double clicking on a sticky node will allow it to move freely again</li>
                                    <li>The slider below allows you to select which nodes will show up based on gene probability</li>
                                </ul>
                                The current view of the graph can be exported as a PNG, SVG file or the entire edgelist can be downloaded as a tab separated file:
                                <a id="download_as_png" class="btn btn-sm btn-primary m-1" style="width: 5%" href="#">PNG</a>
                                <a id="download_as_svg" class="btn btn-sm btn-primary m-1" style="width: 5%" href="#">SVG</a>
                                <a class="btn btn-sm btn-primary m-1" style="width: 8%" href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_edgelist_file']}}" >Edgelist</a>                               
                            </p>
                        </div>
                    </div>
                
                    <div id="graph_container" class="row">
                        <div id="info_area" class="mr-3 ml-3 mb-3 col-3 border">
                            <div class="row ml-2">
                                <!-- <div class="container"> -->
                                    <div class='my-legend'>
                                        <div class='legend-title'>Gene node colors and their meanings</div>
                                        <div class='legend-scale'>
                                          <ul class='legend-labels'>
                                            <li><span style='background:#00ccbc;'></span>Positive</li>
                                            <li><span style='background:#6598bf;'></span>Unlabeled</li>
                                            <li><span style='background:#CC333F;'></span>Negative</li>
                                          </ul>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <hr>
                            <div class="mb-3 row">
                                <label for="static_id" class="col-4">ID</label>
                                <div class="col">
                                  <span id="static_id"></span>
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="static_class" class="col-4">Class</label>
                                <div class="col">
                                  <span id="static_class"></span>
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="static_known" class="col-4">Known/Novel</label>
                                <div class="col">
                                  <span id="static_known"></span>
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="static_name" class="col-4">Name</label>
                                <div class="col">
                                  <span id="static_name"></span>
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="static_prob" class="col-4">Probability</label>
                                <div class="col">
                                  <span id="static_prob"></span>
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="static_rank" class="col-4">Rank</label>
                                <div class="col">
                                    <span id="static_rank"></span>
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="static_symbol" class="col-4">Symbol</label>
                                <div class="col">
                                    <span id="static_symbol"></span>
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="static_site" class="col-4">NCBI Info</label>
                                <div class="col">
                                    <span><a id="static_site" href="" target="_blank"></a></span>
                                </div>
                              </div>
                        </div>
                        <div id="graph_area" class="col-9">
                            <div id="sliders" class="row">
                                <div id="slider_containers" class="col mb-3">
                                    <div class="mb-3 row form-inline">
                                        <label for="node_sliders" class="col-form-label">Node probabilities</label>
                                        <div id="node_sliders">
                                            <input type="text" readonly class="col-1 slider-labels" id="node_lower" value="0.00"> - <input type="text" readonly class="col-1 slider-labels" id="node_upper" value="1.00">
                                        </div>
                                    </div>
                                    <div id="node_slider" class="row slider"></div>
                                </div>
                            </div>
                            <div id="graph" class="row">
                                <svg width="1100" height="550"></svg>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="validation">
                <div class="table_container">
                    <div class="box_padding">
                        <p>The number of genes in the input file was {{ input_count }}.
                        The number of those genes that were uniquely mapped to an Entrez ID
                                and were also in the network is {{positive_genes}}.
                            <br><br>
                            To download the current subset of the table use the Copy, Excel or PDF buttons on the top right of the table. At most the table will display the top 500 results. 
                            To download the validation data as a tab separated values file click the following button:
                            <a href="/jobs/{{job_output['jobname']}}/results/download/{{job_output['df_convert_out_subset_file']}}" class="btn btn-sm btn-primary">Download Validation Data</a>
                        </p>
                    </div>

                {{ df_table(df=job_output['df_convert_out_subset'], table_id="validateresults") }}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Loading</h5>
        </div>
        <div class="modal-body">
          <p>Loading data... please wait</p>
        </div>
      </div>
    </div>
</div>

{% else %}

<div class="container">
    <div id="content-padding" class="pl-4 pt-4">
        <h4>Job incomplete</h4>
        <p>Sorry,  No results yet for the job '{jobname}'  </p>
    </div>
</div>

{% endif %} {# job was found and had results #}
{% else %}  {# invalid job name #}
      <!-- no job found-->
      <div class="container">
          <div id="content-padding" class="pl-4 pt-4">
              <h4>No job Found</h4>
              <p>Sorry, but no GenePlexus job with that name exists on our server. ( {{ jobname }} )  </p>
          </div>
      </div>
{% endif %}
   
{% endblock %}

{% block scripts %}
    {# this inserts the graph/network data directly into the page as javascript #}
    <script>
        // data for network visualization
        var dataset = {{ job_output['graph'] | safe }}
    </script>

    <script>
        $("body").addClass("loading");
    </script>

    <!-- jquery UI is used for graph data box -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="{{url_for('static', filename='d3-v4-contextmenu.js')}}"></script>
    <script src="{{url_for('static', filename='d3-tip.js')}}"></script>
    <script src="{{url_for('static', filename='graph.js')}}"></script>
    <script src="{{url_for('static', filename='results_datatable.js')}}"></script>
    <script src="{{url_for('static', filename='results_index.js')}}"></script>
    <script src="{{url_for('static', filename='results_validation.js')}}"></script>
    <script src="{{url_for('static', filename='saveSvgAsPng.js')}}"></script>
{% endblock %}
