{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <h2>Model Results</h2>
        <p>computations submitted</p>
        <table class="table" id="jobtable">
            <thead>
                <tr>
                <th scope="col">Job Name</th>
                </tr>
            </thead>
            <tbody>
                {% for jobname in jobs %}
                <tr>
                    <td> <a href="{{url_for('job',jobname=jobname) }}">{{jobname}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}