{% extends "base.html" %}

{% block app_content %}
<div class="sidenav">
    <div class="item-content">
        <h4>Job Lookup</h4>
        <hr>
        <form class="form" method="post">
        {{ form.jobname(class="form-control", placeholder="job name") }}
        <P>&nbsp;</P>
        {{ form.lookup(class_="btn btn-primary")}}
        </form>      
    </div>
</div>

<div class="container">
        
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
            {% endif %}
            {% endwith %}
        
     
        <h4 >Jobs Submitted for this session</h4>
        
        {% if joblist %}
        <hr>
        <table class="table " id="jobstable">
            <thead>
                <tr >
                <th>Job Name</th>
                <th>Submit Time</th>
                <th>Parameters</th>
                <th>Completed?</th>
                </tr>
            </thead>
            <tbody>
                {% for job in joblist %}
                
                <tr class="{{'table-success' if job['has_results'] }}">
                    <td> 
                        <a href="{{url_for('job',jobname=job['jobname']) }}">{{job['jobname']}}</a>
                    </td>
                    <td>{{job['submit_time']}}</td>
                    <td>{% if job['params'] %}
                        {{job['params']['GP_NET_TYPE']}}; {{job['params']['GP_FEATURES']}}; {{job['params']['GP_GSC']}}
                        {% endif %}
                    </td>
                    <td>{{'yes' if job['has_results'] else 'not yet'}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No recent jobs in session.  </p>
        {% endif %}
    
    </div>

{% endblock %}



{% block scipts %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script>
    $('#jobstable').DataTable({
        pagingType: "full_numbers"
    });
</script>
{% endblock %}
