{% extends "notification_base.html" %}

{% block message_content %}

<p>Your job has been submitted, and should be completed in few minutes (no more than 20 minutes). Upon completion you should receive another email altering you that the job is done. The link to view your job results and the job parameters are as following:</p>

<ul>
<li>Results link: <a href="{{job_url}}">{{job_url}}</a></li>
<li>Job name/id: {{job_config['jobname']}} </li>
<li>Network: {{job_config['net_type']}}</li>
<li>Features: {{job_config['features']}}</li>
<li>Negative Selection: {{job_config['GSC']}}</li>

</ul>
{% endblock %}