{% extends "base-sidenav.html" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block app_content %}
<div class="row">
    <div class="col-4">
        <h2>Reset password</h2>
    </div>
</div>
<form method="POST">
    <input type="hidden" name="security_token" value="{{ security_token }}">
    <div class="row">
        <div class="col-6">
            <label for="password" class="form-label" id="password_label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="pass_verify" class="form-label" id="pass_verify_label">Verify Password</label>
            <input type="password" class="form-control" id="pass_verify" name="pass_verify">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </div>
</form>

{% block scripts %}
{% endblock %}

{% endblock %}