{% extends "base-sidenav.html" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block app_content %}
<form action="{{ url_for('change_password') }}" method="POST">
    <div class="row">
        <div class="col">
            <label for="username" id="username_label">Username</label>
            <input type="text" value="{{ username }}" readonly id="username">
        </div>
        <div class="col">
            <label for="password" id="password_label">Password</label>
            <input type="text" id="password">
        </div>
        <div class="col">
            <label for="pass_verify" id="pass_verify_label">Verify Password</label>
            <input type="text" id="pass_verify">
        </div>
    </div>
</form>

{% block scripts %}
{% endblock %}

{% endblock %}