<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='sidenav.css') }}">
<div class="sidenav">
    <form id="model-form" action="{{ url_for('validate') }}" method="POST", enctype="multipart/form-data">
        <div class="item-content">
           <span>
               <br>
               <fieldset class="border box_padding fieldset">
                   <div class="button_padding">
                       <!-- Button trigger modal -->
                       <label>
                           Enter/Upload Gene List
                       </label>
                       <a tabindex="0" role="button" data-bs-toggle="popover"  data-bs-trigger="manual" data-bs-placement="right" id="enterGeneID" data-bs-html="true"
                        data-bs-content="Manually input a gene set or upload a file containing a gene set as well as see examples for both. The performance of the model can not be determined if <15 genes are supplied. For more information on how model performance changes with the number of genes, please see the <a href='{{ url_for('help') }}'>help page</a>.">
                            <i class="fas fa-question-circle"></i></a>
                       <div class="mb-2">
                        <button type="button" id="geneBtn" class="btn btn-sm sidenav-btn btn-primary"  data-bs-toggle="modal" data-bs-target="#geneModal">
                          {% if valid_form is defined %}Edit Loaded Genes / Add New Genes{% else %}Add Genes{% endif %}
                        </button>
                       </div>
                   </div>
               </fieldset>
           </span>
        </div>
    </form>
    {% if valid_form is defined %}
    <form id="model-form" action="{{ url_for('run_model') }}" method="POST", enctype="multipart/form-data">
        <div class="item-content">
            <span>
            {{ valid_form.csrf_token }}
            <p>For more information on which parameters to select, 
               see the <a href="{{ url_for('help', _anchor='guidelines-for-best-settings') }}">'Guidelines for best settings'</a> 
               help page section</p>
                <fieldset class="border box_padding fieldset">
                    <label>
                        1. Select Molecular Network
                    </label>
                    <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right" data-bs-html="true"
                        data-bs-content="Select the molecular network that will be used in training the model.   See <a href='{{ url_for('help', _anchor='choosing-a-molecular-network') }}'>Choosing a molecular network</a> and <a href='{{ url_for('help', _anchor='networks') }}'>Network References</a>">
                    <i class="fas fa-question-circle"></i></a>
                    <div>
                    {{ valid_form.network }}
                    </div>
                    <br>
                    <label>
                        2. Select Feature Type
                    </label>
                    <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right" data-bs-html="true"
                    data-bs-content="Select how the connections of chosen network will be represented as features in the machine learning model.  See <a href='{{ url_for('help', _anchor='choosing-a-way-to-represent-network-features') }}'>Choosing a molecular network</a> ">
                    <i class="fas fa-question-circle"></i></a>
                    <div class="select">
                        {{ valid_form.features }}
                    </div>
                    <br>
                    <label>
                        3. Select Negative Gene Class
                    </label>
                    <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right" data-bs-html="true"
                    data-bs-content="Select the type of genes in the negative class – genes annotated to Gene Ontology Biological Processes or to disease in the DisGeNet database – based on whether the input genes represent a process/pathway or a disease. See <a href='{{ url_for('help', _anchor='#choosing-negative-genes') }}'>Choosing a way to represent network features</a>">
                    <i class="fas fa-question-circle"></i></a>
                    <div class="select">
                        {{ valid_form.negativeclass }}
                    </div>
                    <br>
                    <label>
                        4. Job Name
                    </label>
                    <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right" data-bs-html="true"
                        data-bs-content="A unique job identifier will be auto-generated. To make the model easy to identify, you can add an optional prefix to the job ID by typing text into the box below. Max 32 characters; anything longer will be truncated. ">
                            <i class="fas fa-question-circle"></i></a>
                    <div>
                        <label>(Optional) Add a prefix to the job name</label>
                        <div class="d-flex">
                            <span class="flex-grow-1">{{ valid_form.prefix(class_="sidenav-prefix") }}</span>   -   <span>{{ valid_form.jobid(class_="form-control-plaintext sidenav-suffix", style="position: relative; bottom: 15%") }}</span>
                        </div>
                        <small id="char_limit" class="form-text" style="color:red"></small>
                    </div>
                    <br>
                    <label>
                    5. (Optional) Notification Email Address 
                    </label><a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right" data-bs-html="true"
                    data-bs-content="Optionally enter an email address for job notifications.  We will never share your email address outside of this application, add you to a mailing list, or send unsolicited communication. Click <a href='{{ url_for('help') }}'>here</a> for additional help."><i class="fas fa-question-circle"></i></a>
                    <div class="select">{{ valid_form.notifyaddress(class_="sidenav-email") }}</div>
                    <br>
                    
                    {{ valid_form.runbatch(class_="btn btn-sm btn-primary", style="width: 85%") }}
                    <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right" data-bs-html="true"
                    data-bs-content="Hitting this button will launch a process in the cloud to train the machine learning model.
                    The link to view the results will be available in the Jobs tab when completed. Click <a href='{{ url_for('help') }}'>here</a> for additional help.">
                    <i class="fas fa-question-circle"></i></a>
                </fieldset>
            </span>
        </div>
    </form>
    {% else %}
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="geneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form id="modal-form" method="POST", enctype="multipart/form-data" action="{{ url_for('validate') }}">
            <div class="modal-header">
              <h5 class="modal-title me-2" id="exampleModalLabel">Enter/Upload Gene List</h5>
              <a href="#" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-placement="right" data-bs-html="true" 
                        data-bs-content="Upload a file of gene IDs or enter them manually; one gene per line in both cases. Genes can be identified using NCBI Entrez IDs, Gene symbols, or Ensembl gene/transcript/protein IDs.">
                            <i class="fas fa-question-circle"></i></a>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="d-flex flex-row justify-content-between mb-2">
                        <div>
                            <span id="insertGeneButton" class="btn btn-sm btn-primary smaller-text">Upload Gene List from File</span>
                            <span id="insert_filename" class="text-center"></span>
                            <input id="insertGenesInput" style="font-size: 0.0em;"
                                    type="file"
                                    title=" "
                                    name="insert_genes"
                                    accept="txt/csv"
                                    />
                        </div>
                        <div  onclick="sampleGenes()">
                            <button id="exampleGeneBtn" type="button" class="btn btn-sm btn-primary smaller-text">Click to load a Sample Gene List</button>
                        </div>
                        
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <div>
                            <span class="btn-sm">Or, enter/paste gene list below</span>
                        </div>
                        <div class="">
                            <a type="button"
                                           id="sampleBtn"
                                           class="btn-sm smaller-text"
                                           href="/uploads/DOID-9562-STRING-Adjacency-DisGeNet-Symbols.txt">
                                      Download Sample Gene File
                        </a>
                        </div>
                    </div>
                </div>
              <textarea class="form-control rounded-0" id="enterGenes" rows="18" name="genesInput">{{ '\n'.join(existing_genes) }}</textarea>
            </div>
            <div class="modal-footer">
                <div class="mr-auto">
                    <button type="button" id="clearButton" class="btn btn-secondary p-2">Clear Input</button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary p-2">Done</button>
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>

  {% block scripts %}
  <script type='text/javascript' src="{{url_for('static', filename='sidebar.js')}}" defer></script>
  {% endblock %}